# Ignore everything by default
*

# But don't ignore this gitignore
!.gitignore

# Keep directories so unignore patterns can work
!*/

# Allow BBO-function notebooks at repo root
!BBO-function*.ipynb

# Allow Input_output_data npy files
!Input_output_data/**/*.npy